body {
    background-color: rosybrown;
}


.columns {
    display: flex;
}

#jewel-details {
    border: dotted;
    margin-left: 20px;
    width: 72%;
}

#store {
    border: solid plum;
    padding-left: 27px;
    padding-right: 161px;
}

#store a{
    text-decoration: none;
    color: black;
}

#store a:hover{
    text-decoration: none;
    color: rgb(206, 67, 67);
}

#jewel-boxes input{
    display: block;
}



#adding-section {
    margin-top: 16px;
    padding-left: 10%;
    padding-top: 10px;
    border: dotted;
    width: 25%;
    margin-left: 36%;
}

#add-jewelry-link {
    text-decoration: none;
    color: black;
}

#add-jewelry-link:hover {
    text-decoration: none;
    color: rgb(206, 67, 67);
}